// 
// About
// 

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        $bottomblue 0%,
        #{fade-out($bottomblue, 0.1)} 75%,
        #{fade-out($topyellow, 0.2)} 100%);

    p {
        margin-bottom: 5rem;
    }
    a {
        color: black;
    }
}