doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Neighbourhood Warehouse Rave

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Neighbourhood Warehouse Session
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') Tickets
                        li.nav-item
                            a.nav-link(href='#projects') DJs

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase July 27th
                        h2.text-white.mx-auto.mt-2.mb-5 Warm sounds, good vibes
                        a.btn.btn-primary(href='#about') Get Tickets

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 What's the buzz?
                        p.text-white
                            | Neighbourhood x Rudimentary Records, big bass sound, ace selectors and DJs, more on that below, really good vibes, bring your own booze, and a low key secret location.
                            | It's 11.50 so we can cover our end get your tickets here on 
                            a(href='https://www.eventbrite.com/e/neighbourhood-warehouse-session-tickets-944643222307?fbclid=PAZXh0bgNhZW0CMTEAAaZCFk5zOfM1DHz_JiFyFREVS4b7Zd67JrdVIBOXB7ORgvpEfD95KYIWtgc_aem_5kvdutO5eJKcNksYtU5qxA' target='_blank') eventbrite.
                            | We're keeping this limited to 150 people so it's just right. Location provided with ticket!
                img.img-fluid(src='assets/img/wareflyer.png', alt='Warehouse Session')

        // Projects
        section#projects.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/cyclist.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 The Cyclist
                            p.text-black-50.mb-0
                                | Andrew Morrison, aka The Cyclist, hails from Derry, Northern Ireland. Now based in Liverpool, he is best known for creating a lo-fi, analog, psychedelic club sound that he aptly defines as “tape throb”. <br/><br/>
                                | Influenced by an eclectic assortment of music ranging from Krautrock and 60’s Psychedelia to House, Techno, Jungle, Breakbeat, Trance and Dub, Andrew pushes the unique distortion of magnetic tape to its extremes, crafting mesmerizing textures and grooves through layers of synths, samples, vocals, battered analog drum machines and heavily-processed live instruments.<br/><br/>
                                | Andy & Rory were delighted to release 
                                a(href='https://rudimentary.bandcamp.com/album/stp-2' target='_blank') STP 
                                | on Rudimentary back in 2022, he's also got releases on renowned labels such as Stones Throw, Leaving Records, 100% Silk, Hypercolour, All City and Music Is For Losers, as well as his own label Tape Throb Records.<br /><br/>
                                | Here is an ace recording of his performance at 
                                a(href='https://soundcloud.com/mutek_montreal/muteklive-341-the-cylclist' target='_blank') Mutek Montreal

                // Artist One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/yoru.jpg', alt='Rory aka Yoru')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Yoru
                                    p.mb-0.text-white-50
                                        | Rory co-founded Rudimentary with Andy a bunch of years ago, he knows Chuck from an even more bunch of years ago. He produces music 
                                        | under the Yoru moniker, and, whilst always a junglist at heart (he started irishdrumandbass.com in 1999), his love of music runs deep, he's a veteran selector and DJ and has 
                                        | never forgotten the joy a crowd of people can have riding the same frequencies in a dark room with just the right track at just the right time.<br/><br/>
                                        a(href='https://www.youtube.com/watch?v=6ruoZufq4lA' target='_blank') That Old Thing for example, one his productions.
                // Artist Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/cartin.png ', alt='Cartin')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Cartin
                                    p.mb-0.text-white-50
                                        | Check out Cartin doing his thing live at the ulster sports club
                                        a(href='https://www.youtube.com/watch?v=XaDHjaPpGqk' target='_blank') in this youtube video.
                                        | We're big fans, having released a solo single, and his remix of Yoru's Yeah!
                                        | He's also played alongside the gang at Lavery's and know's his way around a bassline.

                // Artist Three Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/chuck.jpg', alt='Chuck')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Chuck
                                    p.mb-0.text-white-50
                                        | Without a doubt one of the finest DJs going. Chuck has been selector in chief for homespun for a long time, but he's also been in and 
                                        | around what Rory would call 'Good is Good' for as long as he's known him (which is over 20 years now). Neighbourhood is the meeting of minds of 
                                        | himself and Andy, and this session is right where he and Rory met, a good old fashioned party with the tunes rolling. <br/><br/>
                                        a(href='https://soundcloud.com/rudimentaryrecords/let-the-thunder-roll-chuck-thunder-mix' target='_blank') One from the vault, Chuck letting the thunder roll.


                // Artist Four Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/andy.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white A. Cue
                                    p.mb-0.text-white-50
                                        | Andy is the main man behind Rudimentary Records which he co-founded with Rory, he's also a serious record collector, and once again embodies the 
                                        | good is good spirit, finding gems from all four corners of the globe. He's a creative force, doing the majority of the design work for Rudimentary,
                                        | working with the artists to represent their ideas and thoughts. No stranger to a music session, Andy has played out from Brooklyn to Berlin.
                                        a(href='https://www.mixcloud.com/thelotradio/rudimentary-records-with-acue-the-lot-radio-05-09-2022/' target='_blank') Here he is on The Lot live in NYC.
        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Neighbourhood 2024

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')